
.HeaderContainer{
    flex-grow: 1;
}

.HeaderHeading{
    font-family: Righteous;
    font-size: 1.5em;

}

.HeaderSubHeading{
    font-family: Roboto;
    font-size: 0.8em;
}

.ButtonColor{
    background-color: white;
}
