body {
    padding: 0;
    margin: 0;
}

.App {
    margin: 0;
    padding: 0;
}

.upperCase {
    text-transform: uppercase;
}

.fontRighteous {
    font-family: Righteous;
}

.themeFontColor {
    color: #FBF5C5;
}

.themeDarkFontColor {
    color: #433D1D;
}

.themeBackground {
    background: rgba(67, 61, 29, 0.97);
}

.spaceEvenlyFlex{
    justify-content: space-evenly;
}

.flexWrap{
    flex-wrap: wrap;
}

.paddingTop{
    padding-top: 0.5em;
}

.spaceBetween{
    justify-content: space-between;
}

/*------------------------
Header Section
---------------------------
*/
.headerContainer {
    flex-grow: 1;
    font-family: Righteous;
    font-size: 1.75em;
    color: #FBF5C5;
}

.headerButton {
    color: #FBF5C5 !important;
}

/*-------------------------
Home Screen first Slide Section
--------------------------*/
.sliderWrapper {
    position: relative;
}

.textWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}


.companyName {
    color: #FBF5C5;
    font-size: 2.5em;
    background-color: rgba(67, 61, 29, 0.7);

}

.slogan {
    font-size: 1.4rem;
    background-color: rgba(67, 61, 29, 1);
}

/*---------------------------
Our Serives (Home Screen)
----------------------------*/
.servicesInfoWrapper {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    padding:2em;
}

.titleStyling {
    font-family: Righteous;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    padding: 1rem;
}


.iconsStyling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 1em;
    margin-top: 1.5em;

}

.iconPosition {
    flex: 1;
    margin-top: 1em;
}

.bordered {
    border: solid;
}

.iconTextAdjustment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconText {
    font-size: 1.5em;
    text-transform: capitalize;
    text-align: center;
}

/*
------------------------------------
Brief About Us Section
------------------------------------
*/

.briefAboutUsWrapper {
    background-color: #FBF5C5;
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    justify-content: space-evenly;
}

.aboutUSContentWrapper{
    display: flex;
    flex-direction: row;
}

.contactUSContentWrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex:1;
    text-transform: capitalize;
}

.subHeading{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}


.subSubHeading{
    font-size: 2em;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
}

.border{
    border: solid;
    color: #433D1D;
    padding:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRowCenter{
    display: flex;
    flex-direction: Row;
    align-items: center;
}

.officeInfoWrapper{
    text-transform: none;
    font-weight: normal;
    text-decoration: none;
}

.lhrAddressSpaceAdjust{
    /*padding: 2em;*/
}

.textStyling{
    font-size: 1.3em;
}


