body {
    padding:0;
    margin:0;
}
.App{
    margin: 0;
    padding: 0;
}
.upperCase{
    text-transform: uppercase;
}

.fontRighteous{
    font-family: Righteous;
}

.themeFontColor{
    color: #FBF5C5;
}

/*---------------------------------------------------*/
.headerContainer{
    flex-grow: 1;
    font-family: Righteous;
    font-size: 1.75em;
    color: #FBF5C5;
}

.headerButton {
    color: #FBF5C5 !important;
}

/*---------------------------------------------------*/
.sliderWrapper {
    position: relative;
}

.textWrapper{
    position: absolute;
    top: 30%;
    left: 40%;
    margin-right: 50%;
    margin-bottom: 40%;

}


.companyName {
    color:#FBF5C5 ;
    font-size: 2.5em;
    background-color:rgba(67,61,29,0.7);
    text-align: center;
}

.slogan {
    position: absolute;
    top: 60%;
    left:39%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    background-color:rgba(67,61,29,1);

}

/*-------------------------------------------------------*/